.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
}

body {
  // min-width: 320px;
  min-width: 1920px;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}