.container {
  // max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  display: inline-block;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  // background-color: #000;
  // color: #fff;
  // border-radius: 5px;
  // padding: 5px 30px;
}

body {
  // min-width: 320px;
  // min-width: 1920px;
  font-size: 18px;
  line-height: 27px;
  overflow-x: hidden;
  @extend %fw400;
  background: linear-gradient(90deg, #FEFBFF -1.28%, #FFFFFF 54.4%);
  color: #353537;
  position: relative;
  zoom: 90%;
  &.open {
    position: fixed;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
  
  .grad {
    opacity: 0;
  }
  
    .grad-1 {
      top: 20%;
      z-index: -1;
      position: absolute;
      // background-color: #855AFF;
      border-radius: 50%;
      // filter: blur(180px);
      animation: gradient 5s infinite linear;
      height: 20%;
      width: 20%;
      left: -10%;
      box-shadow: 0px 27px 37px -8px rgba(133, 90, 255, 0.32);

    }
    .grad-2 {
      left: -10%;
      z-index: -1;
      animation: gradient 8s infinite linear;
      top: 50%;
      position: absolute;
      // background-color: #62DB99;
      border-radius: 50%;
      // filter: blur(180px);
      height: 20%;
      width: 20%;
      box-shadow: 0px 27px 37px -8px rgba(133, 90, 255, 0.32);

    }
    .grad-3 {
      z-index: -1;
      animation: gradient 8s infinite linear;
      top: 1400px;
      right: 60%;
      position: absolute;
      // background-color: #62DB99;
      border-radius: 50%;
      height: 400px;
      width: 400px;
      box-shadow: 0px 27px 37px -8px rgba(133, 90, 255, 0.32);

    }
    .grad-4 {
      z-index: -1;
      animation: gradient 5s infinite linear;
      top: 800px;
      position: absolute;
      // background-color: #62DB99;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      box-shadow: 0px 27px 37px -8px rgba(133, 90, 255, 0.32);

    }
  
}
#map {
  height: 510px;
}
.bolt {
  width: 50px;
  height: 50px;
  background-color: #FF5A5A;
  box-shadow: 0px 27px 37px -8px rgba(255, 90, 90, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 29px;
  &.red {
    box-shadow: 0px 27px 37px -8px rgba(255, 90, 90, 0.25);
    background-color: #FF5A5A;
  }
  &.blue {
    background-color: #855AFF;
    box-shadow: 0px 27px 37px -8px rgba(133, 90, 255, 0.32);
  }
  &.green {
    background: #62DB99;
    box-shadow: 0px 27px 37px -8px rgba(96, 214, 149, 0.4);
  }
  &.l-green {
    background: #3FE3A8;
    box-shadow: 0px 18px 25px -4px rgba(63, 227, 168, 0.27);
  }
  &.orange {
    background-color: #FF9D2B;
    box-shadow: 0px 18px 25px -4px rgba(255, 157, 38, 0.35);
  }
  img {
    margin-top: 17px;
  }
}

.title {
  @extend %fw700;
  font-size: 42px;
  line-height: 62px;
  color: #26262B;
  margin-top: 94px;
  margin-bottom: 36px;
  text-align: center;
  display: flex;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-color: #855AFF;
  }
  25% {
    background-color: #62DB99;
  }
  50% {
    background-color: #FF5A5A;
  }
  75% {
    background-color: #fff95a;
  }
  100% {
    background-color: #855AFF;
    
  }
}