%icon {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateX(-50%);
}

%image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%fw300 {
  font-family: "SF UI Display Thin";
  font-weight: 300;
}
%fw400 {
  font-family: "SF UI Display Light";
  font-weight: 400;
}
%fw500 {
  font-weight: 500;
  font-family: "SF UI Display Medium";
}
%fw600 {
  font-weight: 600;
  font-family: "SF UI Display Semibold";
}
%fw700 {
  font-weight: 700;
  font-family: "SF UI Display Bold";
}

@mixin triangle($size: 2rem, $background: red, $radius: true, $rewerse: false) {
	&,
	&::before,
	&::after {
		width: $size;
		height: $size;
	}

	position: relative;
	overflow: hidden;
	transform: translateY(50%) rotate(120deg) skewY(30deg) scaleX(0.866);
	pointer-events: none;
	transition: all .3s;
	
	&::before,
	&::after {
		content: '';
		position: absolute;
		background: $background;
		pointer-events: auto;
	}

	&::before {
		// prettier-ignore
		transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
	}

	&::after {
		// prettier-ignore
		transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
	}

	@if ($radius) {
		border-radius: 20%;

		&::before {
			border-radius: 20% 20% 20% 55%;
		}

		&::after {
			border-radius: 20% 20% 55% 20%;
		}
	}
	@if ($rewerse) {
	  transform: translateY(50%) rotate(300deg) skewY(30deg) scaleX(0.866);
	}
}
 