@import "fonts";
@import "vars";
@import "mixins";
@import "libs";
@import "global";

.top {
  position: relative;
  padding-bottom: 50px;
  &__inner {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__box {
    max-width: 492px;
    // margin: 0 150px;
    margin-left: 8%;
    margin-top: 157px;
    position: relative;

    // margin-left: 100px;
  }

  &__address-text {
    font-size: 18px;
    @extend %fw300;
    margin-bottom: 20px;
  }
  &__address-info {
    font-size: 20px;
    @extend %fw500;
    line-height: 30px;
    margin-bottom: 49px;
    position: relative;
    
    padding: 17px 21px;
    padding-left: 48px;
    transition: .3s;
    margin-left: -21px;
    &:hover {
      background-color: #FFFFFF;
      box-shadow: 0px 21px 50px rgba(109, 109, 109, 0.04);
      border-radius: 47px;
      margin-left: 0;
    }

    &::before {
      content: "";
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 21px;
      top: 50%;
      transform: translateY(-35%);
      background-image: url("../images/icons/map.svg");
    }
  }

  &__info-title {
    font-family: "Cormorant", serif;
    font-size: 57px;
    font-weight: 700;
    line-height: 70px;
    color: #353537;
    margin-bottom: 31px;
    text-transform: uppercase;
  }
  &__info-text {
    margin-bottom: 48px;
  }

  button.top__info-button.pink {
    background-color: #d52bff;
    border-radius: 50px;
    padding: 20px 47px;
    margin-right: 25px;
    border-radius: 157px;
    color: #fff;
    box-shadow: 0px 27px 37px -8px rgba(213, 43, 255, 0.0);
    transition: all .3s;
    &:hover,
    &:active {
      box-shadow: 0px 27px 37px -8px rgba(213, 43, 255, 0.28);
      background-color: #c51fee;
    }
  }
  button.top__info-button.white {
    border: 1px solid #353537;
    border-radius: 157px;
    padding: 20px 47px;
    background-color: transparent;
    transition: .3s;
    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }
  }

  &__info-arrow {
    margin-top: 100px;
    border: 1px solid rgba(53, 53, 55, 0.12);
    border-radius: 50%;
    width: 81px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 55%;
    max-width: 1250px;
    height: auto;
    //width: 1160px;
    // height: 982px;
    position: absolute;
    right: 0;
    overflow-x: hidden;
    img {
      width: 100%;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
  }
  .swiper-pagination-bullet {
    height: 3px;
    width: 82px;
    margin: 0 6px;
    background-color: #fff;
  }
  .swiper-pagination-bullet-active {
    background-color: #bf3dd5;
  }
}

.contacts {
  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    padding: 0 10px;
  }
  &__map {
    width: 100%;
  }
  &__info {
    max-width: 341px;
    margin-right: 120px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-size: contain;
      z-index: -1;
      bottom: -200px;
      right: -80px;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      background-image: url("../images/icons/plants.svg");
    }
  }
  &__info-title {
    margin-bottom: 59px;
    margin-top: 0;
  }
  &__info-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.035em;
    color: #353537;
    margin-bottom: 34px;
  }
  &__info-contact {
    margin-bottom: 45px;
    span {
      font-size: 18px;
      line-height: 31px;
      letter-spacing: 0.035em;
      color: rgba(0, 0, 0, 0.24);
    }
    a {
      color: #000;
      text-decoration: underline;
      font-size: 18px;
    }
  }
  &__info-button {
    border: 1px solid #353537;
    border-radius: 157px;
    padding: 20px 47px;
    background-color: transparent;
    transition: .3s;
    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
  }
  &__list-item {
    display: flex;
    padding: 28px 32px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid rgba(#000, 0.05);
    transition: 0.3s;
    max-width: 560px;
    align-items: center;
    justify-content: space-between;
    
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:hover {
      cursor: pointer;
      // background-color: #fff;
      border: 1px solid rgba(#000, 0);
      box-shadow: 0px 37px 58px rgba(142, 142, 142, 0.03);
    }
  }
  &__list-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.035em;
    color: #353537;
    margin-bottom: 20px;
  }
  &__list-phone {
    span {
      font-size: 18px;
      line-height: 31px;
      letter-spacing: 0.035em;
      color: rgba(0, 0, 0, 0.24);
      margin-bottom: 5px;
    }
    a {
      color: #000;
      text-decoration: underline;
      font-size: 18px;
    }
  }
  &__list-num {
    font-size: 62px;
    line-height: 92px;
    letter-spacing: 0.035em;
    color: #353537;
    @extend %fw700;
    margin-right: 60px;
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: grayscale(100%) !important;
}

[class*="ymaps-2"][class*="-copyrights-pane"],
[class*="ymaps-2"][class*="-controls-pane"] {
  display: none !important;
}

[class*="ymaps-2"][class*="-places-pane"] {
  .info {
    position: absolute;
    top: 19%;
    right: 50%;
    transform: translate(50%, 0%);
    width: 314px;
    padding: 26px 22px;
    border-radius: 12px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 23px 29px rgba(#000, 0.08);

    #player {
      transform: translateX(31%) rotate(90deg) scale(0.8);
    }

    #inner {
      transform: rotate(45deg);
      background-color: #fff;
      width: 100px;
      height: 100px;
      top: 20px;
      left: -50px;
      position: absolute;
      border-radius: 30px;
    }

    #outer {
      position: absolute;
      top: 50px;
      left: 165px;
      width: 70px;
      height: 140px;
      overflow: hidden;
    }
  }
}

@import "media";
