<!--post-->
<a href="#articles-modal-17" data-effect="mfp-zoom-in" data-wave class="articles__item"> <img
    src="../images/content/articles/articles-14.jpg" alt="" class="articles__item-image">
  <div class="articles__item-inner">
    <h4 class="articles__item-title">title</h4>
    <p class="articles__item-text">
      Lorem ipsum dolor sit amet.
    </p>
  </div>
  <div class="articles__item-footer">
    <div class="articles__item-time"> ნოემბერი at 14:30 </div>
    <div class="articles__item-name"> Medical Group </div>
  </div>
</a>

<!--modal-->
<div id="articles-modal-1" class="articles-popup main mfp-with-anim mfp-hide">
  <img src="../images/news/news-item-1.jpg" alt=""> <button title="close" type="button"
    class="mfp-close">&#215;</button>
  <div class="articles-popup__inner">
    <div class="articles-popup__button articles-popup__button--black"> სტატია </div>
    <h6 class="articles-popup__title">title</h6>
    <p class="articles-popup__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, maiores!
    </p>
  </div>
</div>

