<!-- post -->
<a href="#service-modal-12" data-modal-loader="12" class="service__item" data-effect="mfp-zoom-in">
  <div style="background-color: #855aff;" class="service__item-grad grad service-grad item-1"></div>
  <img src="../images/service/item-12.jpg" alt="">
  <div class="service__item-inner">
    <h4 class="service__item-title">title</h4>
    <p class="service__item-text">small text...</p>
    <h6 class="service__item-price"></h6>
  </div>
</a>

<!-- modal -->
<div id="service-modal-12" class="service-popup mfp-with-anim mfp-hide">
  <img src="../images/service/item-12.jpg" alt="">
  <button title="close" type="button" class="mfp-close">&#215;</button>
  <div class="service-popup__inner">
    <div class="service-popup__head">
      <h5 class="service-popup__title"> HIFU ტექნოლოგია - High Intensity Focused Ultrasound </h5>
      <div class="service-popup__price"></div>
    </div>
    <p class="service-popup__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, earum.
    </p>
    <div class="service-popup__footer">
      <a href="#" class="service-popup__link"> ზარის განხორციელება </a>
      <div class="service-popup__mail">
        <span> E-mail: </span>
        <a href="mailto:info@medicalgroup.ge">
          info@medicalgroup.ge
        </a>
      </div>
    </div>
  </div>
</div>